
.error_404{
    text-align: center;
    padding-top: 125px;
    .not_found{
        display: block;
        // font-family: $tundra-light;
        font-size: 56px;
        line-height: 1;
        letter-spacing: -1px;
        color: #d8232a;
        margin-bottom: 20px;


     
        
    }

    .error404_anim{
        max-width: 450px;
             
    }

    .error_subtext{
        // font-family: $akz-light;
        font-size: 24px;
        line-height: 1.42;
        color: #191919;

       

        a,
        .error_search{
            // font-family: $tundra-mediumitalic;
            font-style: italic;
            border-bottom: solid 3px #FFE300;
            cursor: pointer;
        }
    }
}
